* {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
}
html,
body {
  height: 100%;
  margin: 0;
  background-color: #FFFFFF;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 0;
}
main {
  display: inherit;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto ;
}
h1 {
  color: #363838;
  font-family: 'Montserrat', sans-serif;
}
h2 {
  font-size: 20px;
  color: #363838;
  font-family: 'Montserrat', sans-serif;
}
h3 {
  font-size: 16px;
  color: #363838;
  opacity: 0.9;
  font-family: 'Montserrat', sans-serif;
}
h4 {
  color: #5A5A5A;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-indent: 13%;
}
.page__title {
  display: flex;
  background-color: #DFDFDF;
  width: 100%;
  align-items: center;
}
.page__title h4 {
  width: 100%;
}
iframe {
  margin-bottom: 55px;
}
*::selection {
  background-color: #FFEF35;
  opacity: 0.5;
}
header {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-content: center;
  height: clamp(70px, 120px, 200px);
  flex-wrap: wrap;
}
header .header__container {
  align-items: center;
  display: flex;
  width: 15%;
  justify-content: space-between;
}
header .header__container a:any-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: 16px;
  color: #363838;
  opacity: 0.9;
  font-family: 'Montserrat', sans-serif;
}
header .header__container a:any-link.active {
  display: flex;
  flex-direction: column;
}
header .header__container a:any-link.active:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #363838;
  margin-top: 5px;
  transform: scale(1);
}
header .header__container a:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #363838;
  margin-top: 5px;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}
header .header__container a:hover:after {
  transform: scale(1);
}
header .header__container button {
  width: 37px;
  height: 29px;
  background: url("../images/icon_menu.svg") no-repeat;
  border: none;
}
header .container-2 {
  width: 20%;
}
.header__main-page {
  display: flex;
  align-self: center;
}
@media screen and (max-width: 768px) {
  header {
    justify-content: space-around;
  }
  header .header__container.container-1 {
    display: none;
  }
  header .header__container.container-2 {
    width: 10%;
  }
  header .header__container h3 {
    display: none;
  }
}
.head-slider {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 120px;
}
.head-slider .slider__content {
  margin-bottom: 20px;
}
.head-slider .slider__content .slide {
  display: flex;
  width: 70%;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.head-slider .slider__content .slide img {
  width: 50%;
}
.head-slider .slider__content .slide .slider__content-box {
  width: 50%;
}
.head-slider .slider__content .slide .slider__content-box h1 {
  font-size: 110px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}
.head-slider .slider__content .slide .slider__content-box .divider {
  width: 20%;
  background-color: #363838;
  height: 0.5px;
}
.head-slider .slider__content .slide .slider__content-box p {
  color: #5A5A5A;
  font-size: 16px;
  line-height: 168%;
  width: 80%;
}
.head-slider .pagination-dots {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.head-slider .pagination-dots .swiper-pagination-bullet {
  height: 8px;
  width: 8px;
  border-radius: 50%;
}
.swiper-pagination-bullet-active {
  background-color: #FFEF35 !important;
}
.slider-container {
  width: 100%;
  background: url("../images/symmetry-and-style.png") no-repeat;
  background-size: contain;
}
@media screen and (max-width: 1360px) {
  .head-slider {
    margin-bottom: 20px;
  }
  .slider__content-box h1 {
    font-size: 55px !important;
  }
}
@media screen and (max-width: 768px) {
  .slider__content-box h1 {
    font-size: 35px !important;
  }
  .slider__content-box p {
    font-size: calc(16px/1.5) !important;
  }
}
@media screen and (max-width: 400px) {
  .slider__content-box h1 {
    font-size: 20px !important;
  }
  .slider__content-box p {
    font-size: calc(16px/2) !important;
  }
}
.collection {
  display: flex;
  flex-direction: column;
  width: 95%;
  text-align: center;
  margin-bottom: 105px;
  align-items: center;
}
.collection h1 {
  font-size: 36px;
  line-height: 142%;
}
.collection hr {
  height: 1px;
  background-color: #979797;
  width: 17%;
}
.collection p {
  color: #5A5A5A;
  font-size: 16px;
  line-height: 168%;
  width: 40%;
}
.collection .cards_container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  width: 98%;
  max-width: 2180px;
  margin-top: 50px;
  max-height: 350px;
}
.collection .cards_container .card {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 19%;
  height: 100%;
  opacity: 1;
  min-width: 150px !important;
}
.collection .cards_container .card:hover img {
  opacity: 0.3 !important;
}
.collection .cards_container .card:hover .card-info {
  opacity: 1;
}
.collection .cards_container .card img {
  opacity: 1;
  width: 100%;
  transition: opacity 0.5s ease-in-out 0.1s;
}
.collection .cards_container .card .card-info {
  padding: 60% 0 60% 0;
  transform: translateY(-80%);
  align-self: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out 0.1s;
}
.collection .cards_container .card .card-info h2 {
  display: flex;
  flex-direction: column;
  font-size: 100%;
  margin: 0;
}
.collection .cards_container .card .card-info h2:after {
  margin-top: 20px;
  padding: 0;
  content: "";
  height: 0.5px;
  width: 70%;
  background-color: #6d7278;
  align-self: center;
  margin-bottom: 20px;
}
.collection .cards_container .card .card-info p {
  width: 100%;
  margin-top: 0;
  font-size: 12px;
  color: #707070;
  font-weight: 600;
}
@media screen and (max-width: 1368px) {
  .collection {
    height: 600px !important;
  }
  .collection h1 {
    font-size: 24px;
  }
  .collection p {
    width: 95%;
    font-size: 14px !important;
  }
  .cards_container {
    margin-bottom: 100px;
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center !important;
    gap: 40px !important;
  }
  .cards_container .card {
    height: 200px !important;
    margin-top: 0 !important;
  }
  .cards_container .card-info {
    padding-bottom: 50% !important;
    width: 90% !important;
  }
  .cards_container .card-info h2 {
    font-size: 12px !important;
    width: 100%;
  }
  .cards_container .card-info h2:after {
    margin: 5px 0 !important;
  }
  .cards_container .card-info p {
    font-size: 10px !important;
  }
}
@media screen and (max-width: 550px) {
  .collection {
    height: 650px !important;
    margin-bottom: 25px !important;
  }
  .cards_container {
    gap: 20px !important;
  }
  .cards_container .card {
    height: 150px !important;
  }
}
@media screen and (max-width: 380px) {
  .collection {
    height: 1200px !important;
  }
  .cards_container {
    height: 1800px !important;
    gap: 50px !important;
  }
  .cards_container .card {
    width: 50% !important;
  }
  .cards_container .card-info {
    padding-bottom: 60% !important;
    width: 90% !important;
  }
}
.index.background-filler {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../images/Mask.png") no-repeat;
  min-height: 500px;
  background-size: cover;
  justify-content: center;
}
.index.background-filler .content {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.index.background-filler .content h1 {
  display: flex;
  flex-direction: column;
  font-size: 60px;
  line-height: 133%;
}
.index.background-filler .content h1:after {
  margin-top: 40px;
  content: "";
  height: 1px;
  width: 40%;
  background-color: #6d7278;
}
.index.background-filler .content p {
  margin-top: 0;
  color: #5A5A5A;
}
@media screen and (max-width: 1368px) {
  .index.background-filler {
    background-size: contain;
    min-height: 500px !important;
  }
  .index.background-filler .content {
    transform: translateY(-20%);
  }
  .index.background-filler .content h1 {
    font-size: 35px;
  }
  .index.background-filler .content p {
    font-size: 15px;
  }
}
@media screen and (max-width: 1080px) {
  .index.background-filler {
    background-size: contain;
    min-height: 400px !important;
  }
  .index.background-filler .content h1 {
    font-size: 30px;
  }
  .index.background-filler .content p {
    font-size: 12px;
  }
}
@media screen and (max-width: 850px) {
  .index.background-filler {
    background-size: contain;
    min-height: 300px !important;
  }
  .index.background-filler .content h1 {
    font-size: 25px;
  }
  .index.background-filler .content p {
    font-size: 10px;
  }
}
@media screen and (max-width: 600px) {
  .index.background-filler {
    display: none;
  }
}
.timeline {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  align-items: center;
}
.timeline h1 {
  font-size: 36px;
  margin-bottom: 40px;
}
.timeline__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timeline__upper-items {
  display: flex;
  width: 65%;
}
.timeline__upper-items .item-item-1 {
  width: 50%;
}
.timeline__upper-items .item-item-1 h2:before {
  content: url("../images/designer.svg");
  width: 40px;
  height: 40px;
}
.timeline__upper-items .item-item-1 p {
  width: 70%;
}
.timeline__upper-items .item-item-3 {
  width: 50%;
}
.timeline__upper-items .item-item-3 h2:before {
  content: url("../images/production.svg");
  width: 40px;
  height: 40px;
}
.timeline__line {
  width: 62%;
}
.timeline__line img {
  width: 100%;
}
.timeline__lower-items {
  display: flex;
  width: 85%;
  transform: translateX(32%);
}
.timeline__lower-items .item-item-2 {
  width: 50%;
}
.timeline__lower-items .item-item-2 h2:before {
  content: url("../images/measurement.svg");
  width: 40px;
  height: 40px;
}
.timeline__lower-items .item-item-4 {
  width: 50%;
}
.timeline__lower-items .item-item-4 h2:before {
  content: url("../images/boxes.svg");
  width: 40px;
  height: 40px;
}
.timeline h2 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}
.timeline p {
  color: #5A5A5A;
  font-size: 16px;
  line-height: 168%;
  width: 50%;
}
@media screen and (max-width: 1100px) {
  .timeline__container {
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  .timeline {
    height: 800px;
    margin-top: 50px;
  }
  .timeline__container {
    display: flex;
    flex-direction: row !important;
    height: 100%;
    width: 95%;
    align-items: start;
  }
  .timeline__upper-items {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-self: start !important;
    align-items: start;
    justify-content: space-between;
  }
  .timeline__upper-items .item {
    width: 100% !important;
  }
  .timeline__upper-items .item h2 {
    font-size: 12px !important;
  }
  .timeline__upper-items .item h2:before {
    width: 20px !important;
    height: 20px !important;
  }
  .timeline__upper-items p {
    width: 150% !important;
    font-size: 10px !important;
  }
  .timeline__line {
    height: 100%;
    width: 20%;
    transform: rotate(90deg) scale(400%, 400%) translateX(-90%);
  }
  .timeline__line img {
    margin-left: 20px;
    height: 100% !important;
    width: 200% !important;
  }
  .timeline__lower-items {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-self: end !important;
    align-items: start;
    transform: translateX(-10%);
  }
  .timeline__lower-items h2 {
    font-size: 12px !important;
  }
  .timeline__lower-items p {
    width: 100% !important;
    font-size: 10px !important;
  }
  .timeline__card {
    margin-bottom: 30px !important;
  }
}
.catalog {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 150px;
}
.catalog .catalog__tabs-container {
  display: flex;
  width: 55%;
  justify-content: space-between;
}
.catalog .catalog__tabs-container .tab-bg {
  background-color: transparent;
  color: #8F8D8D;
  font-size: 14px;
  margin-top: 90px;
  gap: 25px;
  border: 1px solid #454647;
  border-radius: 20px;
  padding: 6px 16px 6px 16px;
  text-align: center;
  opacity: 0.5;
  margin-right: 10px;
  transition: transform 0.1s ease-in-out;
}
.catalog .catalog__tabs-container .tab-bg:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.catalog .catalog__tabs-container .tab-bg.mixitup-control-active {
  background-color: #FFEF35;
  font-weight: 600;
  color: #363838;
}
.catalog .tab-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
}
.catalog .tab-inner .tab-content {
  display: grid;
  justify-content: end;
  margin: 50px 0 0 0;
  gap: 25px;
  width: 98%;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
}
.catalog .tab-inner .tab-content a {
  height: 100%;
  width: 100%;
}
.catalog .tab-inner .tab-content a img {
  height: 100%;
  width: 100%;
}
.catalog .tab-inner .tab-content .tab-item {
  width: 100%;
  grid-column: span 1;
  grid-row: span 1;
}
.catalog .tab-inner .tab-content .item-1 {
  grid-column: span 2;
  grid-row: span 2;
}
.catalog .tab-inner .tab-content .item-10 {
  align-self: end;
  justify-self: end;
  grid-column: span 2 / 5;
  grid-row: span 2 / 5;
}
@media screen and (max-width: 1100px) {
  .catalog__tabs-container {
    width: 96% !important;
  }
  .catalog__tabs-container .tab-bg {
    padding: 6px 6px !important;
  }
}
@media screen and (max-width: 600px) {
  .tab-content {
    gap: 5px !important;
    margin-top: 20px !important;
  }
  button {
    margin-top: 50px;
    font-size: 8px !important;
    min-width: 30px !important;
  }
}
.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-bottom: 50px;
}
.blog h1 {
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  width: 40%;
  font-family: 'Montserrat', sans-serif;
}
.blog .blog__articles {
  display: flex;
  width: 100%;
  gap: 30px;
}
.blog .blog__articles .article-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.blog .blog__articles .article-container .pic-1 {
  width: 100%;
  margin-bottom: 0;
}
.blog .blog__articles .article-container .pic-2 {
  width: 100%;
  margin-bottom: 0;
}
.blog .blog__articles .article-container ul {
  margin-top: 20px;
  margin-bottom: 15px;
  display: flex;
  height: 15px;
  text-wrap: none;
  list-style-type: none;
  padding: 0;
  width: 100%;
}
.blog .blog__articles .article-container ul li {
  text-wrap: none;
}
.blog .blog__articles .article-container ul li a:any-link {
  text-decoration: none;
  text-wrap: none;
  font-weight: 600;
  color: #707070;
  font-size: 14px;
}
.blog .blog__articles .article-container h2 {
  width: 100%;
}
.blog .blog__articles .article-container h2 a:any-link {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #363838;
  margin-top: 0;
}
footer {
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 100%;
}
footer .footer-body {
  display: flex;
  background-color: #DFDFDF;
  height: 340px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
footer .footer-body .footer-content {
  display: flex;
  width: 70%;
  justify-content: space-between;
  transform: scale(0.9) translateX(-7%);
}
footer .footer-body .footer-content .reg-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}
footer .footer-body .footer-content .reg-container h3 {
  margin: 0;
}
footer .footer-body .footer-content .reg-container p {
  color: #5A5A5A;
  font-size: 16px;
  line-height: 168%;
  width: 80%;
}
footer .footer-body .footer-content .reg-container .email-reference {
  color: #363838;
  font-size: 14px;
  font-weight: 600;
  line-height: 200%;
  margin-top: 0;
}
footer .footer-body .footer-content .reg-container .email-reference:before {
  content: url("../images/envelope.svg");
  margin-right: 10px;
}
footer .footer-body .footer-content .reg-container .reg-container__reg-form {
  width: 90%;
  gap: 10px;
  display: flex;
  flex-wrap: nowrap;
}
footer .footer-body .footer-content .reg-container .reg-container__reg-form .reg-container__reg-email {
  width: clamp(200px, 65%, 450px);
  background-color: transparent;
  height: 40px;
  border-radius: 21px;
  border: 1px solid #363838;
  opacity: 0.7;
  color: #363838;
  text-indent: 10px;
  font-size: 16px;
}
footer .footer-body .footer-content .reg-container .reg-container__reg-form .reg-container__reg-email::placeholder {
  line-height: 50px;
  font-size: 16px;
  text-indent: 10px;
}
footer .footer-body .footer-content .reg-container .reg-container__reg-form .reg-container__reg-email:focus {
  color: #5A5A5A;
  line-height: 28px;
  font-size: 16px;
  text-indent: 10px;
}
footer .footer-body .footer-content .reg-container .reg-container__reg-form .reg-container__reg-button {
  text-align: center;
  width: clamp(90px, 28%, 210px);
  height: 42px;
  border: none;
  font-weight: 600;
  border-radius: 21px;
  background-color: #363838;
  font-size: 16px;
}
footer .footer-body .footer-content ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer .footer-body .footer-content ul li {
  margin-bottom: 20px;
}
footer .footer-body .footer-content ul li a:any-link {
  color: #707070;
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
}
footer .footer-body .footer-content .social-container {
  width: 25%;
}
footer .footer-body .footer-content .social-container .item-1 {
  display: flex;
  gap: 10px;
  align-items: center;
}
footer .footer-body .footer-content .social-container .item-1:before {
  content: url("../images/facebook.svg");
}
footer .footer-body .footer-content .social-container .item-2 {
  width: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}
footer .footer-body .footer-content .social-container .item-2:before {
  content: url("../images/instagram.svg");
}
footer .footer-body .footer-content .social-container .item-3 {
  display: flex;
  gap: 10px;
  align-items: center;
}
footer .footer-body .footer-content .social-container .item-3:before {
  content: url("../images/pinterest.svg");
}
footer .footer-body .footer-content .social-container .item-4 {
  height: 19px;
  display: flex;
  gap: 10px;
  align-items: center;
}
footer .footer-body .footer-content .social-container .item-4:before {
  content: url("../images/whatsapp.svg");
}
footer .footer-body .footer-content .social-container .item-5 {
  display: flex;
  gap: 10px;
  align-items: center;
}
footer .footer-body .footer-content .social-container .item-5:before {
  content: url("../images/youtube.svg");
}
footer .footer-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #363838;
  height: 110px;
}
footer .footer-secondary p {
  font-size: 16px;
  line-height: 175%;
  color: #a1a1a1;
}
@media screen and (max-width: 768px) {
  footer {
    height: 820px !important;
  }
  .footer-body {
    height: 720px !important;
    align-items: center !important;
    justify-content: end !important;
  }
  .footer-content {
    flex-direction: row;
    width: 90% !important;
    align-items: end !important;
    gap: 50px;
    flex-wrap: wrap !important;
  }
  .footer-content .reg-container {
    width: 100% !important;
    align-items: center;
  }
  .footer-content .reg-container p {
    text-align: center;
  }
  .footer-content .social-container {
    width: 40% !important;
    align-self: start;
    box-sizing: border-box;
    flex-basis: 40% !important;
  }
  .footer-content .info-container {
    display: grid;
    align-self: center !important;
    text-align: right;
    width: 40% !important;
    box-sizing: border-box;
    flex-basis: 40% !important;
  }
}
.contact-us {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0;
  height: 650px;
}
.contact-us__header {
  width: 15%;
}
.contact-us__header h1 {
  display: flex;
  flex-direction: column;
  font-size: 36px;
  font-weight: 700;
  height: 80px;
  justify-content: space-between;
  overflow: clip;
}
.contact-us__header h1:after {
  content: "";
  height: 2px;
  width: 70%;
  background-color: #6D7278;
}
.contact-us .contact-us__container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.contact-us .contact-us__container .contact-us__socials {
  display: flex;
  width: 100%;
}
.contact-us .contact-us__container .contact-us__socials .socials-list {
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 30%;
  list-style-type: none;
  gap: 35px;
}
.contact-us .contact-us__container .contact-us__socials .socials-list li a {
  display: flex;
  align-items: center;
}
.contact-us .contact-us__container .contact-us__socials .socials-list li a.facebook:before {
  content: url("../images/facebook.svg");
  width: 20px;
  height: 20px;
}
.contact-us .contact-us__container .contact-us__socials .socials-list li a.instagram:before {
  content: url("../images/instagram.svg");
  width: 20px;
  height: 20px;
}
.contact-us .contact-us__container .contact-us__socials .socials-list li a.pinterest:before {
  content: url("../images/pinterest.svg");
  width: 20px;
  height: 20px;
}
.contact-us .contact-us__container .contact-us__socials .socials-list li a.whatsapp:before {
  content: url("../images/whatsapp.svg");
  width: 20px;
  height: 20px;
}
.contact-us .contact-us__container .contact-us__socials .socials-list li a.youtube:before {
  content: url("../images/youtube.svg");
  width: 20px;
  height: 20px;
}
.contact-us .contact-us__container p {
  color: #a1a1a1;
  line-height: 175%;
  font-size: 16px;
  margin: 0 0 10px 0;
}
.contact-us .contact-us__container .contact-us__contacts {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 10px 0;
}
.contact-us .contact-us__container .contact-us__contacts li {
  line-height: 27px;
  font-size: 16px;
  color: #5A5A5A;
}
.contact-us .contact-us__container .email-reference {
  color: #363838;
  font-size: 14px;
  font-weight: 600;
  line-height: 200%;
  margin-top: 0;
}
.contact-us .contact-us__container .email-reference:before {
  content: url("../images/envelope.svg");
  margin-right: 10px;
}
.contact-us .contact-us__container .reg__container {
  display: flex;
  flex-direction: column;
  height: 35%;
  width: 100%;
}
.contact-us .contact-us__container .reg__container .reg-data {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.contact-us .contact-us__container .reg__container .reg-data__item {
  width: 50%;
  border-radius: 20px;
  font-size: 16px;
  text-indent: 10px;
  line-height: 175%;
  color: #a1a1a1;
  border: 1px solid #363838;
}
.contact-us .contact-us__container .reg__message {
  width: 100%;
  height: 50%;
  border-radius: 20px;
  font-size: 16px;
  text-indent: 10px;
  line-height: 175%;
  color: #a1a1a1;
  border: 1px solid #363838;
  resize: none;
  margin-bottom: 20px;
}
.contact-us .contact-us__container .reg__send-btn {
  width: 20%;
  height: 15%;
  border-radius: 20px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  background-color: #363838;
  cursor: pointer;
}
.contacts-collection {
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 350px;
  margin-bottom: 120px;
  justify-content: center;
}
.contacts-collection__container {
  display: flex;
  justify-content: space-between;
  height: clamp(100px, 170px, 300px);
  align-items: center;
}
.contacts-collection__slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 19%;
  height: 80%;
  opacity: 1;
}
.contacts-collection__slide:hover img {
  opacity: 0.5;
}
.contacts-collection__slide:hover .slide-info {
  opacity: 1;
}
.contacts-collection__slide img {
  width: 100%;
  transition: opacity 0.5s ease-in-out;
}
.contacts-collection__slide .slide-info {
  padding: 60% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-80%) scale(0.8);
  width: 100%;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  text-align: center;
}
.contacts-collection__slide .slide-info h2 {
  color: #363838;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  z-index: 99;
}
.contacts-collection .pagination-dots {
  display: flex;
  gap: 20px;
  justify-content: center;
  transform: translateY(500%);
}
.contacts-collection .pagination-dots .dot {
  height: 8px;
  width: 8px;
  background-color: #363838;
  border-radius: 50%;
}
.contacts-collection .pagination-dots .dot.active {
  background-color: #FFEF35;
}
.blog-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 65px;
}
.blog-content__container {
  display: flex;
  width: 65%;
  gap: 30px;
}
.blog-content__blog-body {
  display: flex;
  width: 66%;
}
.blog-content__article {
  width: 100%;
  margin-bottom: 50px;
}
.blog-content__article img {
  width: 100%;
}
.blog-content__article .article-references {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.blog-content__article .article-references li a:any-link {
  color: #707070;
  text-decoration: none;
  font-size: 14px;
  line-height: 200%;
  font-weight: 600;
}
.blog-content__article h2 {
  width: 100%;
  font-size: 24px;
  line-height: 158%;
}
.blog-content__article p {
  color: #5A5A5A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 168%;
}
.blog-content__phrase {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: clamp(100px, 250px, 400px);
  background-color: #DFDFDF;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 50px;
}
.blog-content__phrase.post-phrase {
  background-color: transparent;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
}
.blog-content__phrase.post-phrase p {
  align-items: start;
  text-align: left;
}
.blog-content__phrase.post-phrase h3 {
  text-align: left;
  width: 80%;
}
.blog-content__phrase p {
  width: 80%;
  color: #363838;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  line-height: 158%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 45%;
}
.blog-content__phrase p:after {
  content: "";
  width: 20%;
  height: 1px;
  background-color: #6d7278;
  border-radius: 0.5px;
}
.blog-content__phrase h3 {
  font-size: 16px;
  height: 5%;
}
.blog-content__blog-side {
  display: flex;
  flex-direction: column;
  width: 33%;
}
.blog-content__search-bar {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #383636;
  opacity: 0.7;
  color: #a1a1a1;
  font-size: 14px;
  text-indent: 10px;
}
.blog-content__search-icon {
  background-color: transparent;
  border: none;
  position: relative;
  top: -35px;
  right: -90%;
}
.blog-content__blog-categories {
  display: flex;
  flex-direction: column;
  color: #363838;
  font-size: 16px;
  font-weight: 700;
  line-height: 143%;
}
.blog-content__blog-categories h3 {
  margin-bottom: 10px;
}
.blog-content__categories-list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}
.blog-content__categories-list a:any-link {
  color: #5A5A5A;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 168%;
  margin-bottom: 10px;
}
.blog-content__categories-list li {
  margin-bottom: 10px;
}
.blog-content__recent-posts {
  display: flex;
  flex-direction: column;
  color: #363838;
  font-size: 16px;
  font-weight: 700;
  line-height: 143%;
}
.blog-content__recent-posts h3 {
  margin-bottom: 10px;
}
.blog-content__posts-list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}
.blog-content__posts-list a:any-link {
  color: #5A5A5A;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 168%;
  margin-bottom: 10px;
}
.blog-content__posts-list a:any-link p {
  color: #A1A1A1;
  font-size: 14px;
  line-height: 200%;
  margin-top: 0;
  font-weight: 400;
}
.blog-content__posts-list li {
  margin-bottom: 10px;
}
.blog-content__tags {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.blog-content__tags h3 {
  font-size: 16px;
}
.blog-content__tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px ;
  margin-top: 0;
}
.blog-content__tags-container button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 20px;
  line-height: 30px;
  height: 30px;
  padding: 0 10px 0 10px;
  background-color: transparent;
  color: #8f8d8d;
  border: 1px solid #454647;
  font-size: 14px;
  transition: transform 0.1s ease-in-out;
}
.blog-content__tags-container button.active {
  background-color: #FFEF35;
}
.blog-content__tags-container button:active {
  transform: scale(1.1);
}
.blog-content__pagination {
  display: flex;
  width: 10%;
  justify-content: space-between;
  align-self: start;
  margin-left: 35%;
}
.blog-content__pag-arrow,
.blog-content__pag-dot {
  color: #363838;
  background-color: transparent;
  font-size: 14px;
  border: none;
}
.blog-content__blog-page {
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease 0.1s, transform 0.3s ease 0.1s, visibility 0.3s ease 0.1s;
  transform: translateX(-10px) scale(0);
}
.blog-content__blog-page.active {
  height: 100%;
  visibility: visible;
  opacity: 1;
  transform: translateX(0) scale(1);
}
.arrow-prev,
.arrow-next {
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.arrow-prev.inactive,
.arrow-next.inactive {
  opacity: 0;
  transform: scale(0.5);
  pointer-events: none;
}
.post-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.post-slider__container {
  display: flex;
  width: 83%;
}
.post-slider__slide {
  display: flex;
  justify-content: space-between;
}
.post-slider__slide h4 {
  color: #707070;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  text-indent: 0;
  width: 60%;
}
.post-slider__slide .right {
  text-align: right;
}
.post-slider .swiper-button-next:after,
.post-slider .swiper-button-prev:after {
  color: #363838;
  transform: scale(0.5);
}
.post-slider:after {
  height: 1px;
  width: 100%;
  color: #DFDFDF;
}
.post-content__comments-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.post-content__comments-container h3 {
  color: #363838;
  font-size: 20px;
  line-height: 155%;
}
.post-content__comment-wrapper {
  display: flex;
}
.post-content__comment-wrapper img {
  width: 10%;
  height: 10%;
  margin-right: 20px;
}
.post-content__comment-content {
  display: flex;
  flex-direction: column;
}
.post-content__comment-content p {
  margin: 0;
  color: #5A5A5A;
  font-size: 16px;
  line-height: 168%;
}
.post-content__user-data {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 10px;
}
.post-content__user-data h4 {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 30%;
  text-indent: 0;
  font-weight: 700;
  color: #363838;
  font-size: 16px;
  align-self: center;
}
.post-content__user-data h4:after {
  content: "August 12, 2020";
  color: #a1a1a1;
  font-size: 14px;
  font-weight: 400;
  line-height: 200%;
}
.post-content__user-data button {
  color: #707070;
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 600;
}
.post-content__leave-comment {
  display: flex;
  flex-direction: column;
}
.post-content__leave-comment h3 {
  color: #363838;
  font-size: 20px;
  line-height: 155%;
}
.post-content__comm-data {
  display: flex;
  flex-direction: column;
}
.post-content__comm-data textarea {
  width: 100%;
  height: clamp(50px, 125px, 200px);
  border-radius: 20px;
  font-size: 16px;
  text-indent: 10px;
  line-height: 175%;
  color: #a1a1a1;
  border: 1px solid #363838;
  resize: none;
  margin-bottom: 20px;
}
.post-content__input-data {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.post-content__input-data input {
  height: 40px;
  width: 50%;
  border-radius: 20px;
  font-size: 16px;
  text-indent: 10px;
  line-height: 175%;
  color: #a1a1a1;
  border: 1px solid #363838;
}
.post-content__remember-me {
  display: flex;
  margin: 20px 0 20px 0;
  gap: 5px;
}
.post-content__remember-me .custom-checkbox {
  height: 20px;
  width: 20px;
  opacity: 0;
}
.post-content__remember-me .custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.post-content__remember-me .custom-checkbox + label:before {
  position: relative;
  right: 30px;
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #979797;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.post-content__remember-me .custom-checkbox:checked + label::before {
  border-color: #363838;
  background-color: #363838;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.post-content__remember-me label {
  width: 0;
  margin: 0;
}
.post-content__remember-me p {
  margin: 0;
  align-items: center;
}
.post-content__btn-send {
  width: 20%;
  height: 40px;
  border-radius: 20px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  background-color: #363838;
  cursor: pointer;
}
.about-us.page__title {
  height: 0;
  background-color: transparent;
  position: relative;
  top: 30px;
}
.about-us.background-filler {
  display: flex;
  background: url("../images/about-us-filler.png") no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  margin-bottom: 130px;
}
.about-us .content {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.about-us .content h1 {
  flex-wrap: wrap;
  font-size: 60px;
  margin: 0;
}
.about-us .content h1:after {
  content: none;
}
.about-us__general {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: clamp(300px, 500px, 500px);
  margin-bottom: 60px;
}
.about-us__general-wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  overflow-y: hidden;
}
.about-us__general-wrapper h1 {
  font-size: 36px;
  line-height: 166%;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.about-us__general-wrapper h1:after {
  content: "";
  height: 1px;
  width: 20%;
  background-color: #363838;
  margin-top: 30px;
}
.about-us__general-wrapper p {
  color: #5A5A5A;
  font-size: 16px;
  line-height: 27px;
  align-self: end;
  width: 75%;
}
.about-us__general-btn-scroller {
  height: 20px;
  margin-top: 20px;
  border: none;
  background-color: transparent;
  transform: translateX(300%);
}
.about-us__video {
  background: url("../images/video-overlay.png") no-repeat;
  width: 100%;
  background-size: cover;
  height: clamp(200px, 414px, 620px);
}
.about-us__video-play-btn {
  width: 80px;
  height: 80px;
  position: relative;
  top: 40%;
  left: 50%;
  border: none;
}
.about-us__sponsors {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.about-us__sponsors-wrapper {
  display: flex;
  width: 95%;
  align-items: center ;
  justify-content: space-between;
  gap: 70px;
}
.about-us__sponsors-wrapper img {
  width: 15%;
}
.about-us.collection {
  margin-top: 0;
  width: 100%;
  align-items: center;
  margin-bottom: 170px;
}
.about-us.cards_container {
  margin-top: 0;
  flex-wrap: wrap;
}
.about-us.card {
  margin-top: 0;
  min-width: 150px !important;
}
.about-us__video {
  display: block;
  width: 100%;
}
.about-us__video video {
  width: 100%;
}
.inspiration {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 100px 0 10px 0;
}
.inspiration:after {
  content: "";
  width: 100%;
  height: clamp(200px, 414px, 638px);
  margin-top: -350px;
  background-image: url("../images/inspiration-bg.jpg");
  z-index: -1;
}
.inspiration__container {
  display: flex;
  gap: 80px;
  width: 100%;
  margin-left: 180px;
}
.inspiration__content {
  display: flex;
  flex-direction: column;
}
.inspiration__content h1 {
  font-size: 36px;
  line-height: 166%;
  margin-bottom: 0;
}
.inspiration__content h1:after {
  content: "";
  width: 20%;
  height: 1px;
  background-color: #6D7278;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.inspiration__content p {
  font-size: 16px;
  line-height: 168%;
  color: #5A5A5A;
  width: 65%;
  margin-top: 0;
}
.inspiration__progress-list {
  list-style-type: none;
  padding: 0;
  width: 65%;
}
.inspiration__progress-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 45px;
}
.inspiration__bar-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #fff;
}
.inspiration__bar-content h3 {
  margin-top: -30px;
}
.inspiration__line {
  background-color: #363838;
  height: 2px;
  border-radius: 4px;
  margin-top: -2px;
}
/*# sourceMappingURL=styles.css.map */